In [46]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
df1 = pd.read_csv('DISASTERS/1900_2021_DISASTERS.xlsx - emdat data.csv')
df2 = pd.read_csv('DISASTERS/1970-2021_DISASTERS.xlsx - emdat data.csv')

In [17]:
df1.columns

Index(['Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'Aid Contribution', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Insured Damages ('000 US$)',
       'Total Damages ('000 US$)', 'CPI', 'Adm Level', 'Admin1 Code',
       'Admin2 Code', 'Geo Locations'],
      dtype='object')

In [23]:
df2[["Dis No","Year", "Country"]]

              Dis No  Year                                 Country
0      1970-0013-ARG  1970                               Argentina
1      1970-0109-AUS  1970                               Australia
2      1970-0044-BEN  1970                                   Benin
3      1970-0063-BGD  1970                              Bangladesh
4      1970-0026-BGD  1970                              Bangladesh
...              ...   ...                                     ...
14639  2021-0449-YEM  2021                                   Yemen
14640  2021-0075-ZAF  2021                            South Africa
14641  2021-0599-COD  2021  Congo (the Democratic Republic of the)
14642  2021-0020-SRB  2021                                  Serbia
14643  2021-0481-SSD  2021                             South Sudan

[14644 rows x 3 columns]

In [25]:
df = pd.concat([df1, df2], axis=0)

In [28]:
df.columns

Index(['Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'Aid Contribution', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Insured Damages ('000 US$)',
       'Total Damages ('000 US$)', 'CPI', 'Adm Level', 'Admin1 Code',
       'Admin2 Code', 'Geo Locations', 'Dis No',
       'Reconstruction Costs ('000 US$)'],
      dtype='object')

In [32]:
df[["Insured Damages ('000 US$)", "Total Damages ('000 US$)"]].info()

<class 'pandas.core.frame.DataFrame'>
Index: 30770 entries, 0 to 14643
Data columns (total 2 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Insured Damages ('000 US$)  2190 non-null   float64
 1   Total Damages ('000 US$)    10108 non-null  float64
dtypes: float64(2)
memory usage: 721.2 KB

In [33]:
df["CPI"]

0        3.221647
1        3.221647
2        3.350513
3        3.350513
4        3.350513
           ...
14639         NaN
14640         NaN
14641         NaN
14642         NaN
14643         NaN
Name: CPI, Length: 30770, dtype: float64

In [16]:
len(df2["Reconstruction Costs (\'000 US$)"].dropna())

31

In [35]:
df.columns

Index(['Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'Aid Contribution', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Insured Damages ('000 US$)',
       'Total Damages ('000 US$)', 'CPI', 'Adm Level', 'Admin1 Code',
       'Admin2 Code', 'Geo Locations', 'Dis No',
       'Reconstruction Costs ('000 US$)'],
      dtype='object')

In [48]:
df = df.query("Year >= 2000")

In [50]:
df.columns

Index(['Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'Aid Contribution', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Insured Damages ('000 US$)',
       'Total Damages ('000 US$)', 'CPI', 'Adm Level', 'Admin1 Code',
       'Admin2 Code', 'Geo Locations', 'Dis No',
       'Reconstruction Costs ('000 US$)'],
      dtype='object')

In [56]:
len(df)

17914

In [58]:
len(df["Country"].unique())

217

In [60]:
df["Region"]

6535        Eastern Asia
6536       Southern Asia
6537       Southern Asia
6538       South America
6539       South America
              ...
14639       Western Asia
14640    Southern Africa
14641      Middle Africa
14642    Southern Europe
14643    Northern Africa
Name: Region, Length: 17914, dtype: object

In [62]:
df.groupby(["Region",""]).count()

Country
China                             1212
United States of America (the)    1050
India                              742
Philippines (the)                  670
Indonesia                          666
                                  ...
Equatorial Guinea                    2
Niue                                 2
Tokelau                              2
Finland                              2
Isle of Man                          2
Name: count, Length: 217, dtype: int64

In [66]:
df['Disaster Type'].unique()

array(['Flood', 'Drought', 'Storm', 'Epidemic', 'Landslide',
       'Extreme temperature ', 'Wildfire', 'Insect infestation',
       'Earthquake', 'Volcanic activity', 'Mass movement (dry)', 'Impact',
       'Animal accident', 'Glacial lake outburst'], dtype=object)

In [68]:
df['Disaster Subgroup'].unique()

array(['Hydrological', 'Climatological', 'Meteorological', 'Biological',
       'Geophysical', 'Extra-terrestrial'], dtype=object)

In [69]:
df.groupby(["Disaster Subgroup", "Disaster Type"]).count()

                                         Year   Seq  Glide  Disaster Group  \
Disaster Subgroup Disaster Type
Biological        Animal accident           2     2      0               2
                  Epidemic               1736  1736    346            1736
                  Insect infestation       58    58      2              58
Climatological    Drought                 716   716    178             716
                  Glacial lake outburst     4     4      0               4
                  Wildfire                526   526     40             526
Extra-terrestrial Impact                    2     2      0               2
Geophysical       Earthquake             1174  1174    204            1174
                  Mass movement (dry)      26    26      2              26
                  Volcanic activity       230   230     54             230
Hydrological      Flood                  7238  7238   1254            7238
                  Landslide               810   810     58             810
Meteorological    Extreme temperature     878   878    178             878
                  Storm                  4514  4514    846            4514

                                         Disaster Subtype  \
Disaster Subgroup Disaster Type
Biological        Animal accident                       0
                  Epidemic                           1578
                  Insect infestation                   52
Climatological    Drought                             714
                  Glacial lake outburst                 0
                  Wildfire                            458
Extra-terrestrial Impact                                0
Geophysical       Earthquake                         1174
                  Mass movement (dry)                  24
                  Volcanic activity                   214
Hydrological      Flood                              5382
                  Landslide                           784
Meteorological    Extreme temperature                 878
                  Storm                              4064

                                         Disaster Subsubtype  Event Name  \
Disaster Subgroup Disaster Type
Biological        Animal accident                          0           0
                  Epidemic                                 0        1540
                  Insect infestation                       0          10
Climatological    Drought                                  0           0
                  Glacial lake outburst                    0           0
                  Wildfire                                 0          48
Extra-terrestrial Impact                                   0           0
Geophysical       Earthquake                               0           0
                  Mass movement (dry)                      0           2
                  Volcanic activity                        0         222
Hydrological      Flood                                    0          22
                  Landslide                                4           2
Meteorological    Extreme temperature                     12           2
                  Storm                                 1386        2598

                                         Country   ISO  Region  ...  \
Disaster Subgroup Disaster Type                                 ...
Biological        Animal accident              2     2       2  ...
                  Epidemic                  1736  1736    1736  ...
                  Insect infestation          58    58      58  ...
Climatological    Drought                    716   716     716  ...
                  Glacial lake outburst        4     4       4  ...
                  Wildfire                   526   526     526  ...
Extra-terrestrial Impact                       2     2       2  ...
Geophysical       Earthquake                1174  1174    1174  ...
                  Mass movement (dry)         26    26      26  ...
                  Volcanic activity          230   230     230  ...
Hydrological      Flood                     7238  7238    7238  ...
                  Landslide                  810   810     810  ...
Meteorological    Extreme temperature        878   878     878  ...
                  Storm                     4514  4514    4514  ...

                                         Total Affected  \
Disaster Subgroup Disaster Type
Biological        Animal accident                     2
                  Epidemic                         1618
                  Insect infestation                  4
Climatological    Drought                           526
                  Glacial lake outburst               2
                  Wildfire                          372
Extra-terrestrial Impact                              2
Geophysical       Earthquake                       1134
                  Mass movement (dry)                12
                  Volcanic activity                 208
Hydrological      Flood                            6400
                  Landslide                         526
Meteorological    Extreme temperature               292
                  Storm                            3292

                                         Insured Damages ('000 US$)  \
Disaster Subgroup Disaster Type
Biological        Animal accident                                 0
                  Epidemic                                        0
                  Insect infestation                              0
Climatological    Drought                                        14
                  Glacial lake outburst                           0
                  Wildfire                                       84
Extra-terrestrial Impact                                          0
Geophysical       Earthquake                                    144
                  Mass movement (dry)                             0
                  Volcanic activity                               0
Hydrological      Flood                                         320
                  Landslide                                       8
Meteorological    Extreme temperature                            16
                  Storm                                         750

                                         Total Damages ('000 US$)   CPI  \
Disaster Subgroup Disaster Type
Biological        Animal accident                               0     2
                  Epidemic                                      0  1726
                  Insect infestation                            2    58
Climatological    Drought                                     192   696
                  Glacial lake outburst                         2     0
                  Wildfire                                    208   494
Extra-terrestrial Impact                                        2     2
Geophysical       Earthquake                                  512  1136
                  Mass movement (dry)                           2    26
                  Volcanic activity                            34   214
Hydrological      Flood                                      2122  6918
                  Landslide                                    94   790
Meteorological    Extreme temperature                          82   874
                  Storm                                      2380  4348

                                         Adm Level  Admin1 Code  Admin2 Code  \
Disaster Subgroup Disaster Type
Biological        Animal accident                0            0            0
                  Epidemic                      46           30           20
                  Insect infestation             0            0            0
Climatological    Drought                      670          556          154
                  Glacial lake outburst          4            2            2
                  Wildfire                     494          270          242
Extra-terrestrial Impact                         0            0            0
Geophysical       Earthquake                  1156          324          886
                  Mass movement (dry)           26            2           24
                  Volcanic activity            218           62          160
Hydrological      Flood                       7050         3884         3962
                  Landslide                    796          114          706
Meteorological    Extreme temperature          818          690          180
                  Storm                       4396         3208         1570

                                         Geo Locations  Dis No  \
Disaster Subgroup Disaster Type
Biological        Animal accident                    0       1
                  Epidemic                          46     868
                  Insect infestation                 0      29
Climatological    Drought                          670     358
                  Glacial lake outburst              4       2
                  Wildfire                         494     263
Extra-terrestrial Impact                             0       1
Geophysical       Earthquake                      1156     587
                  Mass movement (dry)               26      13
                  Volcanic activity                218     115
Hydrological      Flood                           7050    3619
                  Landslide                        796     405
Meteorological    Extreme temperature              818     439
                  Storm                           4396    2257

                                         Reconstruction Costs ('000 US$)
Disaster Subgroup Disaster Type
Biological        Animal accident                                      0
                  Epidemic                                             0
                  Insect infestation                                   0
Climatological    Drought                                              0
                  Glacial lake outburst                                0
                  Wildfire                                             2
Extra-terrestrial Impact                                               0
Geophysical       Earthquake                                           6
                  Mass movement (dry)                                  0
                  Volcanic activity                                    0
Hydrological      Flood                                               11
                  Landslide                                            0
Meteorological    Extreme temperature                                  0
                  Storm                                                3

[14 rows x 45 columns]

In [72]:
df["Country"].value_counts()[:10]

Country
China                             1212
United States of America (the)    1050
India                              742
Philippines (the)                  670
Indonesia                          666
Viet Nam                           328
Japan                              314
Afghanistan                        302
Mexico                             296
Pakistan                           280
Name: count, dtype: int64

In [73]:
df_cuted = df[df.Country.isin(df["Country"].value_counts()[:10].index)]

In [78]:
df_cuted.groupby(["Country", "Disaster Type"]).count()

                                  Year  Seq  Glide  Disaster Group  \
Country     Disaster Type
Afghanistan Drought                 12   12      4              12
            Earthquake              32   32      2              32
            Epidemic                32   32      0              32
            Extreme temperature     10   10      2              10
            Flood                  158  158     18             158
...                                ...  ...    ...             ...
Viet Nam    Epidemic                12   12      2              12
            Flood                  144  144     22             144
            Landslide                8    8      0               8
            Storm                  154  154     30             154
            Wildfire                 2    2      0               2

                                  Disaster Subgroup  Disaster Subtype  \
Country     Disaster Type
Afghanistan Drought                              12                12
            Earthquake                           32                32
            Epidemic                             32                18
            Extreme temperature                  10                10
            Flood                               158               136
...                                             ...               ...
Viet Nam    Epidemic                             12                10
            Flood                               144               114
            Landslide                             8                 8
            Storm                               154               140
            Wildfire                              2                 2

                                  Disaster Subsubtype  Event Name  ISO  \
Country     Disaster Type
Afghanistan Drought                                 0           0   12
            Earthquake                              0           0   32
            Epidemic                                0          30   32
            Extreme temperature                     0           0   10
            Flood                                   0           0  158
...                                               ...         ...  ...
Viet Nam    Epidemic                                0          12   12
            Flood                                   0           0  144
            Landslide                               0           0    8
            Storm                                  12         128  154
            Wildfire                                0           0    2

                                  Region  ...  Total Affected  \
Country     Disaster Type                 ...
Afghanistan Drought                   12  ...              12
            Earthquake                32  ...              28
            Epidemic                  32  ...              22
            Extreme temperature       10  ...               8
            Flood                    158  ...             116
...                                  ...  ...             ...
Viet Nam    Epidemic                  12  ...              10
            Flood                    144  ...             134
            Landslide                  8  ...               6
            Storm                    154  ...             140
            Wildfire                   2  ...               0

                                  Insured Damages ('000 US$)  \
Country     Disaster Type
Afghanistan Drought                                        0
            Earthquake                                     0
            Epidemic                                       0
            Extreme temperature                            0
            Flood                                          0
...                                                      ...
Viet Nam    Epidemic                                       0
            Flood                                          4
            Landslide                                      0
            Storm                                          0
            Wildfire                                       0

                                  Total Damages ('000 US$)  CPI  Adm Level  \
Country     Disaster Type
Afghanistan Drought                                      4   10         12
            Earthquake                                   2   32         32
            Epidemic                                     0   32          0
            Extreme temperature                          2   10         10
            Flood                                        4  154        152
...                                                    ...  ...        ...
Viet Nam    Epidemic                                     0   12          0
            Flood                                       86  142        142
            Landslide                                    0    8          8
            Storm                                      106  148        144
            Wildfire                                     0    2          2

                                  Admin1 Code  Admin2 Code  Geo Locations  \
Country     Disaster Type
Afghanistan Drought                        12            0             12
            Earthquake                     10           24             32
            Epidemic                        0            0              0
            Extreme temperature            10            0             10
            Flood                          86           92            152
...                                       ...          ...            ...
Viet Nam    Epidemic                        0            0              0
            Flood                         126           22            142
            Landslide                       0            8              8
            Storm                         126           22            144
            Wildfire                        2            0              2

                                  Dis No  Reconstruction Costs ('000 US$)
Country     Disaster Type
Afghanistan Drought                    6                                0
            Earthquake                16                                0
            Epidemic                  16                                0
            Extreme temperature        5                                0
            Flood                     79                                0
...                                  ...                              ...
Viet Nam    Epidemic                   6                                0
            Flood                     72                                0
            Landslide                  4                                0
            Storm                     77                                0
            Wildfire                   1                                0

[83 rows x 45 columns]